section#post-list {
  max-width: 580px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

section#post-list article {
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
}

section#post-list article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

section#post-list article header .user-info {
  display: flex;
  flex-direction: column;
}

section#post-list article header .user-info .name {
  font-size: 13px;
}

section#post-list article header .user-info .place {
  color: #333;
  font-size: 11px;
  margin: 3px 0 0;
}

section#post-list article > img {
  width: 100%;
}

section#post-list article footer {
  padding: 20px;
}

section#post-list article footer .actions {
  margin: 0 0 10px;
}

section#post-list article footer .actions img {
  height: 20px;
  margin: 0 10px 0 0;
}

section#post-list article footer p {
  font-size: 13px;
  line-height: 18px;
  margin: 2px 0 0;
}

section#post-list article footer p span {
  display: block;
  color: #2b59d6;
}