.docs {
  section {
    h3 {
      a {
        color: var(--dark);
        text-decoration: none;
      }
    }

    details {
      summary {
        padding: .75rem 0 .75rem 1rem;
        cursor: pointer;

        strong {
          padding-left: .625rem;
        }
      }

      .wrapper {
        padding: 0 1rem;
      }
    }
  }
}
