.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info>button {
    cursor: pointer;
    background: #cdcdcd;
    border: 1px solid;
    margin-top: 10px;
    border-color: #111 #111 #222;
    color: #111;
    padding: 6px 8px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 16px;
    font-weight: 800;
}