.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  box-shadow: 1px 0 12px 1px rgba(0, 0, 0, .05);
  z-index: 1;
}

.product__rating {
  display: flex;
}

.product>img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 20px 0 20px 0;
}

.product>button {
  cursor: pointer;
  background: #ff9f00;
  color: #111;
  font-weight: bold;
  border: 1px solid;
  margin-top: 10px;
  padding: 6px 8px;
  border-color: #a88734 #9c7e31 #846a29;
}

.product__price {
  margin-bottom: 6px;
}

.product__info {
  min-height: 100px;
  margin-bottom: 15px;
}